:root {
  --font-family: 'Karla', sans-serif;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --color-primary: hsl(230, 34%, 46%);
  --color-selected: #d6dbf5;
  --color-text: #293264;
  --color-right-answer: #94d7a2;
  --color-worng-answer: #f8bcbc;
  --color-neutral-100: rgba(255, 255, 255, 1);
  --color-neutral-500: rgba(245, 245, 245, 1);
  --color-background: #f5f7fb;
  --fs-body: 1em;
  --body-line-height: 1.2;
}
*/ *,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  /* line-height: calc(1em + 0.725rem); check later */
  margin: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body,
input,
button,
select,
option {
  font-weight: var(--font-weight-light);
  font-family: var(--font-family);
}

body {
  font-family: var(--font-family);
  color: var(--color-text);
  background: var(--color-background);
  font-size: var(--fs-body);
  line-height: var(--body-line-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
}

.container {
  --padding: 2.5rem * 2;
  --max-width: 50rem;
  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.section {
  /* padding-block: clamp(4rem, 10vh, 6rem); */
  padding-block: 4rem;
}

.mt-sm {
  margin-top: 0.5rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  background: var(--color-primary);
  color: #f5f7fb;
  font-size: 1em;
  font-weight: var(--font-weight-medium);
  transition: opacity 200ms ease-in-out;
}

.btn:hover {
  opacity: 0.9;
}

.btn--lg {
  border-radius: 16px;
}

.btn--md {
  border-radius: 10px;
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
  width: 500px;
}

.start h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.quiz {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.question--container {
  padding-block: 24px;
  border-bottom: 1px solid hsl(231, 41%, 90%);
}

.question {
  font-size: 1.5rem;
}

.answer--container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.answer {
  cursor: pointer;
  padding: 8px 24px;
  border: 1px solid #595d6e;
  color: var(--color-text);
  border-radius: 8px;
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  transition: all 200ms ease-in-out;
}

.answer:hover,
.selected {
  background: #d6dbf5;
  border-color: #d6dbf5;
}

.selected {
  background: #d6dbf5;
  font-weight: 500;
  border-color: #d6dbf5;
}

.check--answers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
